* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

p,h1,h2,h3,h4,h5,h6,a,ul,ol {
    margin: 0 !important;
}

/* =============================
            Common css end
     ============================== */
    
/* =============================
            Menu part start
     ============================== */
     .main_menu img {
        height: auto;
        max-width: 125px;
    }
    
    .main_menu {
        width: 100%;
        background: transparent;
        opacity: .9;
        padding: 25px 0 !important;
        z-index: 1000;
        top: 0;
        position: absolute;
        transition: all linear .3s;
        -webkit-transition: all linear .3s;
        -moz-transition: all linear .3s;
        -ms-transition: all linear .3s;
        -o-transition: all linear .3s;
    }
    .menu_fixed{
        position: sticky;
        left: 0;
        top: 0;
        z-index: 999;
        padding: 8px 0 !important;
        background: -webkit-linear-gradient(-29deg, #c10f41 0, #233b88 100%);
        transition: all linear .3s;
        -webkit-transition: all linear .3s;
        -moz-transition: all linear .3s;
        -ms-transition: all linear .3s;
        -o-transition: all linear .3s;
    }
    .menu_fixed .dropdown{
        padding-bottom: 3px !important;
    }
    .main_menu img{
        max-width: 95px ;
        height: auto;
        
     }
    .main_menu ul {
        gap: 20px;
        margin-right: 0 !important;
    }
    
    
    .main_menu ul li a {
        color: #fff !important;
        padding: 5px 10px !important;
        border-radius: 50px;
        font-size: 13px;
        font-weight: 700;
        letter-spacing: 3px;
        font-family: 'Poppins', sans-serif;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
    }
    
    .main_menu ul li a:hover {
        padding: 5px 10px !important;
        background: rgb(255, 253, 253);
        color: #c10f41 !important;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
    }
    
    .main_menu ul li a:focus {
        padding: 5px 10px !important;
        background: rgb(255, 253, 253);
        color: #c10f41 !important;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
    }
    
    .main_menu .nav_button li a {
        color: #fff;
    }
    
    .dropdown-menu .dropdown-item {
        color: #292929 !important;
    }
    
    .dropdown-menu {
        z-index: 1;
        position: relative;
    }
    
    .main_menu ul li .dropdown-menu {
        background: -webkit-linear-gradient(-29deg, #c10f41 0, #233b88 100%);
        margin-top: 0px !important;
    
    }
    
    .main_menu ul li .dropdown-menu a {
        color: #fff !important;
    }
    
    .main_menu ul li .dropdown-menu a:hover {
        color: red !important;
        border-radius: none !important;
        -webkit-border-radius: none !important;
        -moz-border-radius: none !important;
        -ms-border-radius: none !important;
        -o-border-radius: none !important;
    }
    
    
    .dropdown{
        padding-bottom: 10px;
        transition: all linear .5s;
        -webkit-transition: all linear .5s;
        -moz-transition: all linear .5s;
        -ms-transition: all linear .5s;
        -o-transition: all linear .5s;
    }
    .dropdown:hover  .dropdown-menu{
        display: block !important;
        
    }
    
    .go_top{
        z-index: 99;
        position: fixed;
        bottom: 100%;
        right: 20px;
        cursor: pointer;
        visibility: hidden;
        transition: all linear .9s;
        -webkit-transition: all linear .9s;
        -moz-transition: all linear .9s;
        -ms-transition: all linear .9s;
        -o-transition: all linear .9s;
    }
    .go_top i{
        color: #c10f41 ;
        filter: drop-shadow(1px 6px 3px #181819);
        -webkit-filter: drop-shadow(1px 6px 3px #181819);
    }
    .go_fixed{
        visibility: visible;
        opacity: 1;
        bottom: 10%;
    }
    

/* =============================
            Menu part end
     ============================== */


/* =============================
            banner part start
     ============================== */
#banner {
    padding-top: 300px;
    padding-bottom: 100px;
    background: url(../images/slide-bg.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}

.overly {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: -webkit-linear-gradient(-29deg, #c10f41 0, #233b88 100%);
    opacity: .9;
    z-index: -1;
}

.banner_text h1 {
    width: 700px;
    font-size: 65px;
    font-weight: 600;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    line-height: 80px;

}

.banner_text>p {
    width: 650px;
    font-size: 22px;
    font-weight: 500;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    line-height: 30px;
    margin-top: 30px !important;
}

.banner_btns {
    display: flex;
    gap: 20px;
}

.banner_button a {

    padding: 16px 35px !important;
    background: transparent;
    border: 2px solid #fff;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 4px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    margin-top: 45px !important;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.banner_button a:hover {
    background: #fff;
    color: red;
}

.banner_image {
    width: 555.92px;
}

/* =============================
              banner part end
 ============================== */
/*=============================
              about part start
       ===============================*/
#about {
    padding: 100px 0;
}

.about_text h2 {
    text-align: center;
    color: #2a3b71;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 5px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 30px !important;
}

.about_text p {
    width: 395px;
    color: #2a3b71;
    font-weight: 400;
    line-height: 30px;
    font-size: 16px;
    margin: 0 auto !important;
    text-align: center;
    margin-bottom: 85px !important;
}

.about_item {
    width: 285px;
    height: 205px;
}

#abouts {
    gap: 120px;
    justify-content: center;
}

.item_icon {
    width: 70px;
    margin:  0 auto 30px !important;
}
.item_text{
    width: 285px;
}

.item_text h3 {
    width: 100%;
    color: #2a3b71;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.1;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-bottom: 30px !important;
}

.item_text p {
    color: #2a3b71;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    text-align: center;
}

/*=============================
        about part end
===============================*/
/*=============================
        FEATURES part start
===============================*/

#features {
    background: url(../images/features-bg.jpg);
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}

.overlay {
    background: -webkit-linear-gradient(-29deg, #c10f41 0, #233b88 100%);
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;

}

#features .about_text h2 {
    padding-top: 90px !important;
    text-align: center;
    color: #FFF;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 5px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 30px !important;


}

#features .about_text p {
    width: 395px;
    color: #FFF;
    font-weight: 400;
    line-height: 30px;
    font-size: 16px;
    margin: 0 auto !important;
    text-align: center;
    margin-bottom: 85px !important;
}

.features_icon {

    height: 60px;
    width: 60px;
    display: flex;
    margin-bottom: 80px;
    margin-left: 30px;
}


.features_text {
    margin-right: 10px;
}

.features_text h3 {

    text-align: right;
    width: 300px;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 25px;
    margin-bottom: 20px !important;

}

.features_text p {
    text-align: right;
    font-size: 15px;
    color: #fff;
    font-weight: 300;
    line-height: 25px;
}

.features_img {
    width: 266px;
    height: 470px;
    margin: 0 auto;
}

.features_icon2 {
    height: 60px;
    width: 60px;
    display: flex;
    margin-bottom: 80px;
}

.features_text {
    margin-left: 10px;
}

.features_icon2 .features_text h3 {

    text-align: left;
    width: 300px;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 25px;
    margin-bottom: 20px !important;

}

.features_icon2 .features_text p {
    text-align: left;
    font-size: 15px;
    color: #fff;
    font-weight: 300;
    line-height: 25px;
}

/*=============================
        FEATURES part end 
===============================*/
/* ==================================================
                Business part start
================================================== */
#business{
    padding-bottom: 100px ;
}
.business_part{
    padding-top: 100px;
}
.business_pic img {
    width: 555px;
    height: 370px;
}

.business_text h4 {
    width: 500px;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    letter-spacing: 0.2px;
    font-weight: 500;
    color: #2a3b71;
    line-height: 60px;
    margin: 30px 0 15px !important;
}

.business_text p {
    width: 500px;
    margin-bottom: 30px !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #2a3b71;
    line-height: 30px;
}

.business_text a {
    padding: 10px 20px !important;
    color: #bf095d;
    border: 2px solid #bf095d;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 400;
    margin-bottom: 50px !important;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.business_text a:hover {
    color: #ffffff;
    border-color: #bf095d;
    background: #bf095d;
}

/* ==================================================
                Business part end
================================================== */
/* ==================================================
            testimonial part start
================================================== */
#testimonial {
    background: url(../images/testimonial-bg.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
    width: 100%;
    padding: 100px 0;
    position: relative;
    z-index: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: -webkit-linear-gradient(-29deg, #c10f41 0, #233b88 100%);
    opacity: .9;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.common_heading h2 {
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 5px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 25px !important;
}

.common_heading p {
    width: 395px;
    color: #fff;
    font-weight: 400;
    line-height: 30px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 0 auto 50px !important;
}

.test_left {
    width: 250px;
    text-align: center;
    padding: 0 15px;
}

.test_slide {
    padding: 0 18%;
}

.test_item {
    display: flex;
    width: 750px;
    margin: 0 auto;
}

.test_item .test_left .test_img img {
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid #bf095d;
    text-align: center;
    margin: 0 auto;
}

.test_left h4 {
    color: #fff;
    font-weight: 600;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
    margin: 10px 0;
}

.test_left ul {
    display: flex;
    justify-content: center;
    gap: 10px;
    list-style: none;
    padding: 0;
}

.test_left ul li i {
    color: #fac917;
}

.test_text p {
    width: 450px;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    line-height: 30px;
    margin-bottom: 30px;
    font-style: italic;
}

.test_slide .slick-dots {
    display: flex;
    justify-content: center;
    gap: 10px;
    list-style: none;

}

.test_slide .slick-dots button {
    width: 11px;
    height: 11px;
    border: none;
    background-color: #fff;
    text-indent: -9999px;
    margin-top: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.test_slide .slick-active button {
    background-color: rgba(234, 50, 71, 0.898);
}

/* =============================
        Testimonial part End 
==================================*/
/*================================
       screenshot part Start
=================================->*/

#screenshot {
    padding: 100px 0;
}

#screenshot .common_heading h2 {
    color: #2a3b71;
}

#screenshot .common_heading p {
    color: #2a3b71;
}

.ss_slider {
    height: 700px;
}

#screenshot .ss_slider {
    padding: 73px 14px 0 14px;
    background: rgba(0, 0, 0, 0) url(../images/screenshots-bg-3.png) no-repeat scroll top center;
    background-size: 100%;
    max-width: 293px;
    margin: 0 auto !important;
}

.ss_item img {
    width: 270px;
    height: 480px;
}

.ss_slide_item .prv_arr,
.ss_slide_item .nxt_arr {
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: #fff;
    background: #2a3b71;
    text-align: center;
    line-height: 30px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    cursor: pointer;
}
.ss_slide_item .prv_arr:hover{
    background: #bf095d;
}
.ss_slide_item .nxt_arr:hover{
    background: #bf095d;
}
.ss_slide_item {
    position: relative;
}

.ss_slide_item .prv_arr {
    position: absolute;
    bottom: -120px;
    left: 35%;
}

.ss_slide_item .nxt_arr {
    position: absolute;
    bottom: -120px;
    right: 35%;
}

/*==============================
       screenshot part End
=============================== --> */
/*  ================================
       statistic part Start 
============================= --> */
#statistic {
    background: url(../images/statistics-bg.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
    width: 100%;
    padding: 100px 0;
    position: relative;
    z-index: 1;
    padding: 100px 0;
}

.count_num h2 {
    font-size: 50px;
    font-weight: 600;
    color: #fff;
}

.count_num p {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}

/* ==================================================
                statistic part End
================================================== */
/* ==================================================
                App part end
================================================== */
#app {
    padding: 100px 0;

}
#app .common_heading h2{
color: #2a3b71;
}
#app .common_heading p{
    color: #2a3b71;
    }

.app_items_1 {
    padding: 80px 0;
    width: 355px;
    height: 650px;
    border: 1px solid #2a3b71;
    background: #FFFFFF;
    text-align: center;
    margin-top: 20px !important;
    cursor: pointer;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.app_items_1 h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    color: #2a3b71;

}

.app_items_1 h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 100px;
    font-weight: 600;
    color: #2a3b71;
}

.app_items_1 h4 span {
    font-size: 30px;
    color: #2a3b71;
}

.app_items_1 ul {
    margin-bottom: 50px !important;
}

.app_items_1 ul li {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #2a3b71;
    line-height: 50px;
    margin-top: 5px;
}

.app_items_1:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.app_items_1:hover .read {
    color: #ffffff;
    border-color: #2a3b71;
    background: #2a3b71;
}

.app_items_1 a {
    padding: 10px 20px !important;
    color: #2a3b71;
    border: 2px solid #2a3b71;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 400;
    margin-bottom: 50px !important;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.app_items_1 a:hover {
    color: #ffffff;
    border-color: #2a3b71;
    background: #2a3b71;
}

.app_items_2 {
    padding: 80px 0;
    width: 355px;
    height: 690px;
    border: 1px solid #bf095d;
    background: #FFFFFF;
    text-align: center;
    cursor: pointer;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.app_items_2 h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    color: #bf095d;
}

.app_items_2 h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 100px;
    font-weight: 600;
    color: #bf095d;
}

.app_items_2 h4 span {
    font-size: 30px;
    color: #bf095d;
}

.app_items_2 ul {
    margin-bottom: 50px !important;
}

.app_items_2 ul li {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #bf095d;
    line-height: 50px;
    margin-top: 5px;
}

.app_items_2:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.app_items_2:hover .read {
    color: #ffffff;
    border-color: #bf095d;
    background: #bf095d;
}

.app_items_2 a {
    padding: 10px 20px !important;
    color: #bf095d;
    border: 2px solid #bf095d;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 400;
    margin-bottom: 50px !important;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.app_items_2 a:hover {
    color: #ffffff;
    border-color: #bf095d;
    background: #bf095d;
}

/* ==================================================
                   App part end
   ================================================== */
/*============================================
           VIDEO part Start
============================================== */
#video {
    padding: 100px 0;
    background: url(../images/video-bg.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
    width: 100%;
    padding: 100px 0;
    position: relative;
    z-index: 1;
    padding: 100px 0;
}

#video .vdo_heading h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 5px;
    color: #fff;
   
}

#video .vdo_heading p {
    width: 520px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 40px ;
    color: #fff;
    margin: 0 auto !important;
   padding: 40px 0 !important;   
}
.vbox-close {
    top: 30px;
    right: 200px;
    color:#bf095d;
    animation: cross;
    -webkit-animation: cross;
}
/* @keyframes cross{
 rot
} */
.vbox-child{
  width: 700px;  
  background: -webkit-linear-gradient(-29deg, #c10f41 0, #233b88 100%);
}

/*============================================
           Videopart End
============================================== */
/*============================================
           Team part Start
============================================== */
#team {
    padding: 100px 0;
}

#team .common_heading h2 {
    color: #2a3b71;
}

#team .common_heading p {
    color: #2a3b71;
}

.team_item {
    width: 262px;
    height: 328px;
    cursor: pointer;
}

.team_img img {
    width: 100%;
    width: 100%;
}

.team_img {
    position: relative;
    overflow: hidden;
}

.team_img .overlay {
    position: absolute;
    width: 262px;
    height: 100%;
    top: 0;
    visibility: hidden;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.team_img:hover .overlay {
    visibility: visible;
    z-index: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

.team_img .overlay .team_info {
    padding: 0 15px !important;
    margin-top: 120px !important;
}

.team_img .overlay .team_info h4 {
    font-size: 25px;
    font-weight: 500;
    color: #fff;
}

.team_img .overlay .team_info h6 {
    font-size: 13px;
    font-style: italic;
    font-weight: 300;
    color: #fff;
}

.team_img .overlay .team_info p {
    font-size: 14px;
    color: #fff;
    margin-bottom: 20px !important;
}

.team_img .overlay .team_info ul {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0 !important;
}

.team_img .overlay .team_info ul li {
    border-radius: 50%;
    border: 2px solid #fff;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 25px;
    margin-bottom: 10px !important;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.team_img .overlay .team_info ul li i {
    color: #fff;
}

.team_img .overlay .team_info ul .facebook:hover {
    background: #3b5a9a;
    border-color: #3b5a9a;
}

.team_img .overlay .team_info ul .twitter:hover {
    background: #54abf0;
    border-color: #54abf0;
}

.team_img .overlay .team_info ul .google:hover {
    background: #dd4b3e;
    border-color: #dd4b3e;
}

.team_img .overlay .team_info ul .linkedin:hover {
    background: #0175b0;
    border-color: #0175b0;
}

.team_img .overlay .team_info ul .pinterest:hover {
    background: #be0719;
    border-color: #be0719;
}

.team_slide .slick-dots {
    display: flex;
    justify-content: center;
    gap: 10px;
    list-style: none;
    margin-top: 10px !important;

}

.team_slide .slick-dots button {
    width: 11px;
    height: 11px;
    border: none;
    background-color: #2a3b71;
    text-indent: -9999px;
    margin-top: 10px !important;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.team_slide .slick-active button {
    background-color: rgba(234, 50, 71, 0.898);
}

/*============================================
           Team part End
============================================== */
/*============================================
           Call part Start
============================================== */
#Call {
    padding: 100px 0;
    background: url(../images/download-bg.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
    width: 100%;
    position: relative;
    z-index: 1;
}
.call_logo {
	text-align: center;
}

/*=====================================
           Call part End
======================================= */

/*=================================
         Blog part start 
=================================== */
#blog{
    padding: 100px 0 !important;
}
.blog_btn a {
	
	padding: 7px 13px !important;
	font-size: 15px;
}
.blog_btn{
    text-align: center;
}
.blog_items{
    margin-right: 50px !important;
}
.blog_img{
    width: 378px;
    height: 293px;
    position:relative;
    overflow-y: hidden;
   
}
.blog_items{
    width: 360px;
}
.blog_text p{
    width: 382px;
    padding: 15px 10px !important;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400px;
    color: #2a3b71;
    
    
}
.blog_img .overly{
    background: -webkit-linear-gradient(-29deg, rgba(193, 15, 65, 0.8) 0, rgba(35, 58, 136, 0.8) 100%);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    opacity: 0 ;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.blog_details{
    position: absolute;
    z-index: 9999 ;
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px);
    transition: all linear .3s;
}
.blog_list{
    display: flex;
    gap: 15px;
   
}
.blog_img h3{
    margin-left: 30px !important;
    padding: 10px 0 15px 0 !important;
    font-size: 20px;
}
.blog_list li a{
    font-size: 12px !important;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #fff;
    border-right: 2px solid #fff;
    padding-right: 5px !important;
    margin: 0 auto !important;
}

.blog_details h3 a{
    color: #fff;
}

.blog_items:hover  .blog_details{
    transform: translateY(-80px);
    -webkit-transform: translateY(-80px);
    -moz-transform: translateY(-80px);
    -ms-transform: translateY(-80px);
    -o-transform: translateY(-80px);
    overflow-y: hidden;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.blog_btn a{
    color: #2a3b71;
    letter-spacing: 2px;
    padding: 10px 20px !important;
    border: 2px solid #2a3b71;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;

}
.blog_items:hover .blog_btn a{
    color: red;
    border-color: red;
}
.blog_items:hover .overly{
    visibility: visible;
    opacity: 1;
    z-index: 9999;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.blog_slider .slick-dots{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
}
.blog_slider .slick-dots button{
    margin-top: 30px !important;
    border: none;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    font-size: 0;
    background: #2a3b71;
}
.blog_slider  .slick-active button{
    background: #bf095d;
}
/*===========================
          Blog part end 
=============================*/
/*============================================
           SUBSCRIBE part Start
============================================== */
#subscribe{
    padding: 100px 0;
    background: url(../images/download-bg.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
    width: 100%;
    position: relative;
    z-index: 1;
}

  .sub_label{
    margin-top: 52px;
    width: 100%;
    height: 40px;
    background: #fff;
    border: none;
    border-radius: 17px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    -ms-border-radius: 17px;
    -o-border-radius: 17px;
    position: relative;
  }
  .sub_label input{
    font-size: 16px;
    font-weight: 400;
    color: black;
    border: none;
    font-family: 'Poppins', sans-serif;
    line-height: 40px;
    margin-left: 20px;
  
}
.sub_label button{
   position: absolute;
   top: 0;
   right: 0;
   padding:  8px 20px;
   background: red;
   font-size: 16px;
   font-weight: 700;
   color: #ffffff;
   font-family: 'Poppins', sans-serif;
   border: none;
   border-radius:0 17px 17px 0;
   -webkit-border-radius:0 17px 17px 0;
   -moz-border-radius:0 17px 17px 0;
   -ms-border-radius:0 17px 17px 0;
   -o-border-radius:0 17px 17px 0;
}

/*=====================================
           SUBSCRIBE part End
======================================= */

/* ==========================
        FAQ part start
============================= */
#faq{
    padding: 100px 0;
}
#faq .common_heading h2{
    color: #2a3b71;
}
#faq .common_heading p{
    color: #2a3b71;
}
.drop_down_part{
    margin-top: 100px !important;
}
.drop_down_item{
    border: none;
    margin-bottom: 10px;
}
.drop_down_item:not(.cllapsed){
    background:transparent;
}

.drop_btn:focus{
    box-shadow: none;
}
.drop_btn.collapsed{
    border: none;
    background:-webkit-linear-gradient(-29deg,#c10f41 0,#233b88 100%);
    box-shadow: none;
}

.drop_btn:not(.collapsed){
    border: none;
    background:-webkit-linear-gradient(-29deg,#c10f41 0,#233b88 100%);
    box-shadow: none;
}
.drop_down_part button li::after{
    content: "\f067";
    font: 18px fontAwesome;
    color: #fff;
    margin-right: 10px;
    float: left;
}
.drop_down_part button.drop_btn:not(.collapsed) li::after{
    content: "\f068";
    font: 18px fontAwesome;
    color: #fff;
    margin-right: 10px;
    float: left;
}

.drop_down_part li{
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #fff;
}
.drop_down_item span{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #2a3b71;
}
.faq_img{
    max-width: 170px;
    margin: 0 auto;
}
.faq_img img{
    width: 100%;
}

/* ===============================
            FAQ part end
================================== */

/* <!-- =================================
         Get In Touch part Start
===================================== --> */
#getintouch{
    background: url(../images/contact-bg.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
    width: 100%;
    padding: 100px 0;
    position: relative;
    z-index: 1;
}

#getintouch .form-control{
     height: 50px;
     padding: 10px 15px;
     background: rgba(255,255,255,.15);
     color: #fff;
     border: none;
     border-radius: 0;
     letter-spacing: 2px;
     font-weight: 300;
     -webkit-transition: all .3s ease;
     -moz-transition: all .3s ease;
     -o-transition: all .3s ease;
     transition: all .3s ease;
    
}
.form_part input::placeholder{
    color: #FFF;
    letter-spacing: 2px;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
}
.form_part textarea::placeholder{
    color: #FFF;
    letter-spacing: 2px;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
}
#getintouch .form-control:focus {
    box-shadow: none;
    background: rgba(255,255,255,.4);
}
#getintouch textarea.form-control {
    height: auto;
}
#getintouch .btn-primary{
    border-radius: 0;
    background: #bf095d;
    color: #fff;
    border: none;
    margin: 20px 0 !important;
    font-weight: 600;
    width: 100%;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
#getintouch .btn-primary:hover{
color: #bf095d;
background: #fff;
}
.contact_right{
    display: flex;
}
.contact_right ul{
    list-style: none;
}
.contact_right ul li{
    color: #fff;
    margin-bottom: 20px !important;
}
.contact_right ul li a{
    color: #fff;
}
.contact_right_icon .phone{
    margin-top: 45px !important;
}
.get_in_icon{
    margin-left: 30px !important;
}
.get_in_icon ul{
    display: flex;
    gap: 15px;
    list-style: none;
    padding: 0;
}
.get_in_icon ul li {
    border-radius: 50%;
    border: 2px solid #fff;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 25px;
    margin-bottom: 10px !important;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
 .get_in_icon ul li i{
    color: #fff;
}
.get_in_icon ul .facebook:hover{
    background: #3b5a9a;
    border-color: #3b5a9a;
}
.get_in_icon ul .twitter:hover{
    background: #54abf0;
    border-color: #54abf0;
}
.get_in_icon ul .google:hover{
    background: #dd4b3e;
    border-color:#dd4b3e;
}
.get_in_icon ul .linkedin:hover{
    background: #0175b0;
    border-color: #0175b0;
}
.get_in_icon ul .pinterest:hover{
    background: #be0719;
    border-color: #be0719;
}



/* <!-- ===================== Get In Touch part End ======================= --> */
